### DATA TYPE

In [1]:
a = "python"
b = type(a);
print (a)
print(b)

python
<class 'str'>

In [2]:
a = 4.5
b = type(a);
print (a)
print(b)

4.5
<class 'float'>

In [3]:
a = 4
b = type(a);
print (a)
print(b)

4
<class 'int'>

In [4]:
a = True
b = type(a);
print (a)
print(b)

True
<class 'bool'>

In [5]:
d = 3-2j
type(d)

complex

# Variable and its Rule for naming the variable

In [11]:
x = 10
# 2x = 78  > var can not start from number;
_y = 16
#x-y = 10 > we can not assign to operator 
#$r = 19  > cant accept special char other then under score (  _  )
#  g y = 90 > cant accept space ;

print(x)
print(_y)
fruit = "Apple","mango"
# print(Fruit)  varialbe is case sensitive ; 

print(fruit)

10
16
('Apple', 'mango')

# DATA STRUCTURE

In [14]:
 X= "APPLE " , "BANANA", "CHERRY"
print(X);
print(type(X))

('APPLE ', 'BANANA', 'CHERRY')
<class 'tuple'>

In [15]:
 X= ["APPLE " , "BANANA", "CHERRY"]
print(X);
print(type(X))

['APPLE ', 'BANANA', 'CHERRY']
<class 'list'>

In [17]:
 X= {"APPLE " , "BANANA", "CHERRY"}
print(X);
print(type(X))

{'APPLE ', 'CHERRY', 'BANANA'}
<class 'set'>

In [18]:
 X= {"A " :"B", "C" : "D"}
print(X);
print(type(X))

{'A ': 'B', 'C': 'D'}
<class 'dict'>

In [22]:
 sample_list= ["APPLE " , "BANANA", "CHERRY" ,5,43,2,4.4,6+7j]
print(sample_list)
print(type(sample_list))

['APPLE ', 'BANANA', 'CHERRY', 5, 43, 2, 4.4, (6+7j)]
<class 'list'>

### LIST 
##### 1. Allows Heterogenous(allow all type of data type)
##### 2. Index start from 0 
##### 3. Mutable using index  >> can change by index 
##### 4.  [ ]

In [23]:
sample_list[3]

5

In [24]:
sample_list[2]

'CHERRY'

In [25]:
sample_list[3]  = "keshav"
sample_list[3]

'keshav'

In [26]:
sample_list

['APPLE ', 'BANANA', 'CHERRY', 'keshav', 43, 2, 4.4, (6+7j)]

# TUPLE
##### 1. Allows Heterogenous(allow all type of data type)
##### 2. Index start from 0  and Retrieve using index
##### 3. Immutable using index  >> can not change by index 
##### 4.  ( )

In [7]:
sample_tuple = (2,3,4.5, "keshav")
print(sample_tuple)
print(type(sample_tuple))

(2, 3, 4.5, 'keshav')
<class 'tuple'>

In [8]:
sample_tuple[0]

2

In [46]:
# sample_tuple[0] = 3  >>> we can't change by index  >>> immutable;

In [9]:
sample_tuple[0] = "kesha"

TypeError: 'tuple' object does not support item assignment

# SET
##### 1. Add Heterogenous(allow all type of data type)
##### 2. can't access Index;
##### 3. Immutable using index  >> can not change by index but its mutable; 
##### 4.  ordered first place ""
##### 5 . does not allow duplicate

In [47]:
sample_set = {1,23,4,5,6.6,5,"keshav", "book "}
print(sample_set)
print(type(sample_set))

{1, 'keshav', 4, 5, 6.6, 'book ', 23}
<class 'set'>

In [48]:
sample_set.remove(5)

In [49]:
sample_set

{1, 23, 4, 6.6, 'book ', 'keshav'}

In [50]:
sample_set.add(5)
sample_set

{1, 23, 4, 5, 6.6, 'book ', 'keshav'}

# DICTONARY
##### 1. dict has key and value pair datastructure
##### 2. key is unique & value can be duplicated
##### 3. key is Immutable  
##### 4.  can retrieve the value using key
##### 5.  can change the value using key

In [51]:
sample_dict = {"a":"alpha" , "b":"banana","c":"cat" , "d":"dog"}
sample_dict

{'a': 'alpha', 'b': 'banana', 'c': 'cat', 'd': 'dog'}

In [52]:
type(sample_dict )

dict

In [55]:
sample_dict["a"]

'alpha'

In [3]:
sample_dict .reverse() # >>>>> reverse can not work

NameError: name 'sample_dict' is not defined